
<!DOCTYPE html>
<meta charset="utf-8">

<html>
    
    <%- include("common/header.ejs") %>
    
    

    <body onload="getStatus()">
        <div id="content" class="flex justify-center">
            <div class="w-full max-w-lg">
                
              </div>
        </div>
    </body>
    
    <%- include("common/footer.ejs") %>
</html>



